import http.server
import socketserver
import urllib.request
import urllib.parse
import json
import threading
import time
import os

class ProxiedHandler(http.server.BaseHTTPRequestHandler):
    def do_GET(self):
        if self.path == '/healthz':
            self.send_response(200)
            self.send_header("Content-type", "text/plain")
            self.end_headers()
            self.wfile.write(b"OK")
            return

        try:
            query = urllib.parse.urlparse(self.path).query
            params = urllib.parse.parse_qs(query)
            url = params.get('url', ['http://httpbin.org/ip'])[0]
            
            req = urllib.request.Request(url)
            with urllib.request.urlopen(req) as response:
                status = response.getcode()
                body = response.read().decode('utf-8')
            
            self.send_response(200)
            self.send_header("Content-type", "application/json")
            self.end_headers()
            self.wfile.write(f'{{"message": "Successfully proxied ingress and egress", "target_url": "{url}", "body": {json.dumps(body)}, "status": {status}}}\n'.encode('utf-8'))
            print(f"Successfully handled GET request for {url}", flush=True)
        except Exception as e:
            try:
                self.send_response(500)
                self.send_header("Content-type", "application/json")
                self.end_headers()
                self.wfile.write(f'{{"error": "Proxy request failed", "details": "{str(e)}" }}\n'.encode('utf-8'))
            except BrokenPipeError:
                print("Broken pipe: Client disconnected before receiving error response.", flush=True)



def run_server(port):
    host_ip = "${bind_address}"
    with socketserver.TCPServer((host_ip, port), ProxiedHandler) as httpd:
        print(f"Serving internal payload traffic directly on overlay port {port}", flush=True)
        httpd.serve_forever()

ports = json.loads("${proxied_ports}")  # this is going via json so we dont have a IDE parse error
for p in ports:
    threading.Thread(target=run_server, args=(p,), daemon=True).start()

while True:
    time.sleep(3600)
