apiVersion: v1
kind: Service
metadata:
  name: proxied-svc
spec:
  type: LoadBalancer
  ports:
  - name: inbound
    port: 80
    targetPort: 80

---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: proxied-svc
  labels:
    kubernetes.io/service-name: proxied-svc
addressType: IPv4
ports:
  - name: inbound
    port: 80
endpoints:
  - addresses:
      - ${proxied_vm_ip}
